*.o
*.a
*.la
*.lo
*.xbps
Makefile
Makefile.in
autom4te.cache/
.deps/
libtool
*.status
*.log
stamp-h1
config.h
config.h.in~
config.h.in
config.guess
config.sub
config.status
compile
configure~
fbterm-mod
fbterm
src/fbterm
src/fbterm-mod
doc/Makefile
im/Makefile
src/Makefile
src/lib/Makefile
terminfo/Makefile
im/immessage.h
im/input_key.h
